<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="clientApp" ng-controller="MainCtrl">
        <!-- navbar starts -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" ng-click="setTab(0)" ui-sref="dashboard">Dashboard</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active:isSet(1)}"><a href="#" ui-sref="dashboard" ng-click="setTab(1)">Dashboard</a></li>
                    <li ng-class="{active:isSet(2)}"><a href="#" ui-sref="about" ng-click="setTab(2)">about</a></li>
                    <li ng-class="{active:isSet(3)}"><a href="#" ui-sref="contact" ng-click="setTab(3)">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
    <!-- dashboard-container starts -->
    <div class="container-fluid dashboard-container">
        <div ui-view>
        </div>
        <!-- footer starts -->
        <div class="footer">
            <p><span class="glyphicon glyphicon-heart"></span> Hello <span class="glyphicon glyphicon-heart"></span></p>
        </div>
        <!-- footer ends -->
    </div>
    <!-- dashboard-container ends -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-pusher/angular-pusher.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/humidity.js"></script>
    <script src="scripts/controllers/temperature.js"></script>
    <script src="scripts/services/data.service.js"></script>
    <script src="scripts/services/charts.service.js"></script>
    <script src="scripts/directives/chart.directive.js"></script>
    <script src="scripts/routes.config.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <!-- endbuild -->
</body>
</html>